{% extends "base.html" %}
{% load static %}

{% block title %}Add team{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'organisation_list' %}">Organisations</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organisation_detail' org %}">{{ org }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add team</li>
    </ol>
  </nav>
  <h1 class="h3 mb-3">Add team</h1>

  <form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-4">
      {% include "change_requests/_field.html" with field=details_form.name %}
      {% include "change_requests/_field.html" with field=details_form.description %}
      {% include "change_requests/_field.html" with field=details_form.parent %}
    </div>
    {% include "change_requests/_formset.html" with formset=member_formset title="Members" principal_label="GitHub username" permission_label="Role" add_label="Add member" %}
    {% include "change_requests/_portfolio_field.html" with form=portfolio_form %}
    <button type="submit" class="btn btn-primary">Review request</button>
    <a class="btn btn-link" href="{% url 'organisation_detail' org %}">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/formset.js' %}"></script>
{% endblock %}
